@model BookReview.Models.LoginModel

@{
    ViewData["Title"] = "Login";
}



<form method="post" asp-controller="Account" asp-action="Login">
    <div class="container my-5">
        <div class="row-cols-1">
            <div class="col-12 col-lg-6 mb-5 m-auto">
                <p class="text-danger"><b>@ViewBag.ErrorMessage</b></p>
                <div class="display-4">Logowanie</div>
            </div>
            <div class="col-12 col-lg-6 mb-5 m-auto">
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email:</label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-5 m-auto">
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Hasło:</label>
                    <input type="password" asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-between m-auto">
                <div class="row-cols-1">
                    <div class="col">
                        <p class="m-0">Nie masz konta?</p>
                    </div>
                    <div class="col">
                        <a asp-controller="Account" asp-action="Register">Zarejestruj się!</a>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary px-4 py-1" value="Zaloguj"/>
            </div>
        </div>
    </div>
</form>