@model BookReview.ClassLibrary.User

<p class="text-danger">@ViewBag.ErrorMessage</p>

<form method="post" asp-controller="Account" asp-action="Register">
    <div class="container my-5">
        <div class="row-cols-1">
            <div class="col-12 col-lg-6 mb-5 m-auto">
                <span class="text-success"><b>@ViewBag.SuccessMessage</b></span>
                <div class="display-4">Rejestracja</div>
            </div>
            <div class="col-12 col-lg-6 mb-5 m-auto">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nick" class="control-label">Nick:</label>
                    <input asp-for="Nick" class="form-control"/>
                    <span asp-validation-for="Nick" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-5 m-auto">
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email:</label>
                    <input asp-for="Email" class="form-control"/>
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-lg-6 mb-5 m-auto">
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Hasło:</label>
                    <input type="password" asp-for="Password" class="form-control"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-lg-6 d-flex justify-content-end m-auto">
                <input type="submit" class="btn btn-primary px-4 py-2" value="Zarejestruj"/>
            </div>
        </div>
    </div>
</form>